[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
tortoise-orm = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-bootstrap-modal-forms = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
