{% extends 'chat/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container" style="margin-top: 1.5rem;">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="col-4" id="form-container">
                    <div class="content-section">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Login</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-primary mt-2 mb-2" type="submit">{% translate "Login" %}</button>
                                <small class="text-muted ml-2">
                                    <a href="#">{% translate "Forgot Password" %}?</a>
                                </small>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                {% translate "Need an account" %}?<a id="signup-btn"
                                                                     href="{% url 'users:register' %}"> {% translate "Sign Up Now" %}</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block custom_js %}
    <script>
        //  Signup
        $("#signup-btn").modalForm({
            formURL: "{% url 'users:register' %}"
        });
    </script>
{% endblock %}